
    <!--&lt;!&ndash; Register Page &ndash;&gt;-->
    <!--<span *ngIf="[routerLinkActive] = ['register']">-->
        <!--<a [routerLink]="['/']" routerLinkActive="active">When If?</a>-->
    <!--</span>-->

    <!--&lt;!&ndash; Main Page &ndash;&gt;-->
    <!--<span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a [routerLink]="['/']" [routerLinkActive]="['main']">When If?</a>-->

        <!--<span class="app-toolbar-filler"></span>-->
        <!--<a [routerLink]="['/account']" routerLinkActive="active" md-button>Account</a>-->
        <!--<a [routerLink]="['/login']" routerLinkActive="active" md-button>Logout</a>-->
    <!--</span>-->

    <!--&lt;!&ndash; Account Page &ndash;&gt;-->
    <!--<span *ngIf="[routerLinkActive] = ['account']">-->
        <!--<a [routerLink]="['/']" routerLinkActive="active">When If?</a>-->

        <!--<span class="app-toolbar-filler"></span>-->
        <!--<a [routerLink]='["/login"]' routerLinkActive="active" md-button>Logout</a>-->
    <!--</span>-->

<!--</md-toolbar>-->
