<md-toolbar color="primary">
    <button md-button [routerLink]="['/']">When If?</button>

    <span class="spacer"></span>
    <button md-button [routerLink]="['/register']">REGISTER</button>
</md-toolbar>

<div class="flexbox-parent">
    <div fxLayout.gt-sm="row" fxLayoutAlign="center center" style="min-height: 700px">
        <div class="col-lg-4" fxFlex.lt-md="<shrink>">
            <md-card class="flex-item">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <md-card-header>
                        <h2 class="header-name">Login</h2>
                    </md-card-header>
                    <md-card-content>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid}">
                            <md-input-container class="col-11">
                                <input mdInput placeholder="Username" name="username" type="text" class="form-control"
                                       [(ngModel)]="model.username" #username="ngModel" id="username" required/>
                                <md-error *ngIf="f.submitted && !username.valid">Enter your username</md-error>
                            </md-input-container>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <md-input-container class="col-11">
                                <input mdInput placeholder="Password" name="password" type="password"
                                       class="form-control" [(ngModel)]="model.password" #password="ngModel"
                                       id="password" required/>
                                <md-error *ngIf="f.submitted && !password.valid">Enter your password</md-error>
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-card-actions>
                        <div class="form-group">
                            <button md-raised-button color="primary" class="btn btn-primary">Login</button>
                        </div>
                    </md-card-actions>
                </form>
            </md-card>
        </div>
    </div>
</div>
