<md-toolbar color="primary">
    <span [routerLink]="['/']">When If?</span>

    <span class="spacer"></span>
    <button md-button [routerLink]="['/register']">REGISTER</button>
</md-toolbar>

<div class="container body">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <md-card>
                <h2>Login</h2>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid}">
                        <md-input-container class="col-sm-11">
                            <input mdInput placeholder="Username" name="username" type="text"
                                   class="form-control" [(ngModel)]="model.username"
                                   #username="ngModel" id="username" required/>
                        </md-input-container>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username or Email
                            Address is required
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <md-input-container class="col-sm-11">
                            <input mdInput placeholder="Password" name="password" type="password" class="form-control"
                                   [(ngModel)]="model.password" #password="ngModel" id="password" required/>
                        </md-input-container>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                    <div class="form-group">
                        <button color="primary" class="btn btn-primary" md-raised-button
                                [disabled]="!f.form.valid">Login</button>
                    </div>
                </form>
            </md-card>
        </div>
    </div>
</div>
