<md-toolbar color="primary">
    <span [routerLink]="['/']">When If?</span>

    <span class="spacer"></span>
    <button md-button [routerLink]="['/register']">REGISTER</button>
</md-toolbar>

<div class="flexbox-parent">
    <div fxLayout="row justify-content-center" fxLayoutAlign="center center" style="min-height: 500px">
        <div class="col-sm-6 col-xl-4" flex="15">
            <md-card class="flex-item">
                <md-card-header>
                    <h2 class="header-name">Login</h2>
                </md-card-header>
                <md-card-content>
                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid}">
                            <md-input-container class="col-11">
                                <input mdInput placeholder="Username" name="username" type="text"
                                       class="form-control" [(ngModel)]="model.username"
                                       #username="ngModel" id="username" required/>
                            </md-input-container>
                            <div *ngIf="f.submitted && !username.valid" class="help-block">Username or Email
                                Address is required
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <md-input-container class="col-11">
                                <input mdInput placeholder="Password" name="password" type="password" class="form-control"
                                       [(ngModel)]="model.password" #password="ngModel" id="password" required/>
                            </md-input-container>
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
                        <div class="form-group">
                            <button color="primary" class="btn btn-primary" md-raised-button
                                    [disabled]="!f.form.valid">Login</button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
