<md-toolbar color="primary">
    <span [routerLink]="['/']">When If?</span>

    <span class="spacer"></span>
    <button md-button [routerLink]="['/account']">MY ACCOUNT</button>
    <button md-raised-button color="warn" [routerLink]="['/login']">LOGOUT</button>
</md-toolbar>

<!--<div class="container body">-->
    <!--<div class="row justify-content-md-center">-->
        <!--<div class="col-12">-->
            <!--<h1>Hi {{currentUser.fullName}}!</h1>-->
            <!--<div class="jumbotron">-->
                <!--<p class="lead">When would I finish, if...</p>-->
                <!--<hr class="my-4">-->
                <!--<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && whenIf()" novalidate>-->
                <!--<div class="form-group row">-->
                    <!--<label for="start-date" class="col-sm-2 col-form-label">If I started classes on </label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input type="date" class="form-control" name="startDate" id="start-date"-->
                               <!--[(ngModel)]="whenParams.startDate" #startDate="ngModel" required/>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group row">-->
                    <!--<label for="will-work" class="col-sm-2 col-form-label">If I'm working?</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input type="checkbox" name="willWork" id="will-work" [checked]="setWorking()"-->
                               <!--[(ngModel)]="whenParams.working" #isAdvisor="ngModel">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group row">-->
                    <!--<label class="mr-sm-3" for="classes-per-quarter">If I take no more than</label>-->
                    <!--<select class="custom-select mb-3 mr-sm-3 mb-sm-0" id="classes-per-quarter" [(ngModel)]="whenParams.classesPerQuarter" name="classesPerQuarter">-->
                        <!--<option selected>Choose...</option>-->
                        <!--<option value="1">One</option>-->
                        <!--<option value="2">Two</option>-->
                        <!--<option value="3">Three</option>-->
                    <!--</select>-->
                    <!--<label for="classes-per-quarter" class="mr-sm-3">Classes per quarter?</label>-->
                <!--</div>-->
            <!--</form>-->
            <!--</div>-->

            <!--<div *ngIf="!showAdvisor()">-->
                <!--<ng2-smart-table [settings]="settings" [source]="user"></ng2-smart-table>-->
            <!--</div>-->

            <!--<div *ngIf="showAdvisor() == true">-->
                <!--<h3>All registered users:</h3>-->

                <!--<ul>-->
                    <!--<li *ngFor="let user of users">-->
                        <!--{{user.username}} ({{user.fullName}} {{user.depaulID}})-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<ng2-smart-table [settings]="settings" [source]="user"></ng2-smart-table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
