<md-toolbar color="primary" layout="row" layout-align="center center" class="page-header">
    <button md-button [routerLink]="['/']">When If?</button>
    <when-if-search></when-if-search>
    <span class="spacer"></span>
    <button md-button [routerLink]="['/account']">My Account</button>
    <button md-raised-button color="warn" [routerLink]="['/login']">Logout</button>
</md-toolbar>

<div class="container flexbox-parent">
    <div fxLayout="column" fxLayoutAlign="space-around center" style="min-height: 600px" class="main">
        <h1>Welcome, {{currentUser.fullName}}.</h1>
        <div class="col-12">
            <div *ngIf="currentUser.isAdvisor == 0 || currentUser.isAdvisor == null">
                <md-card class="flex-item">
                    <!-- ----------------------------------- Student View ----------------------------------- -->
                    <md-card-header>
                        <h3>When would I finish, if...</h3>
                    </md-card-header>
                    <hr>
                    <md-card-content>
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && whenIf()" novalidate>
                            <div *ngIf="currentUser.major == 'MS Information Systems'">
                                <div class="row">
                                    <label for="concentration">I want to concentrate in:</label>
                                    <md-select placeholder="Concentration" [(ngModel)]="choice.concentration" name="choice.concentration">
                                        <md-option *ngFor="let concentration of isConcentrations" [value]="concentration">
                                            {{concentration}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="quarter">I start in</label>
                                <md-select placeholder="Quarter" (ngModel)="choice.enteringQuarter" name="quarter">
                                    <md-option *ngFor="let quarter of quarters" [value]="quarter">
                                        {{quarter}}
                                    </md-option>
                                </md-select>
                            </div>
                            <div class="row">
                                <label for="isWorking">I prefer classes:</label>
                                <md-radio-group class="radio-group" (ngModel)="choice.preferOnline" name="genderType">
                                    <md-radio-button class="radio-button" *ngFor="let type of classTypes" [value]="type">
                                        {{type}}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                            <div class="row">
                                <label for="classesPerQuarter">I take no more than</label>
                                <md-select placeholder="Number of Classes" (ngModel)="choice.numCourses" name="classesPerQuarter">
                                    <md-option *ngFor="let number of numbers" [value]="number">
                                        {{number}}
                                    </md-option>
                                </md-select>
                                <label for="classesPerQuarter">classes per quarter</label>
                            </div>
                            <!-- TODO: Add more options!!! -->
                        </form>
                    </md-card-content>
                    <md-card-actions>
                        <button md-raised-button color="primary" (click)="whenIf()">{{"When would I finish school?" | uppercase}}</button>
                    </md-card-actions>
                    <md-card-footer>
                    </md-card-footer>
                </md-card>
            </div>
        </div>


        <!-- ----------------------------------- Advisor View ----------------------------------- -->
        <div class="main col-8">

            <div *ngIf="currentUser.isAdvisor == 1">
                <md-card>
                    <md-card-header>
                        <h3>Student List</h3>
                    </md-card-header>
                    <hr>
                    <table>
                        <tr>
                            <th>Full Name</th>
                            <th>DePaul ID</th>
                            <th></th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.fullName}}</td>
                                <td>{{user.depaulID}}</td>
                                <td style="text-align: right"><button md-button (click)="login(user.username, user.password)">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </md-card>
            </div>
        </div>

    </div>
</div>