$break-small: 767px;
$nav-height: 100px;
.spacer {
    flex: 1 1 auto;
}

md-toolbar {
    position: fixed;
    z-index: 9999;
}

.main {
    padding-top: $nav-height;
}

form {
    padding-left: 25px;
}

.row {
    padding-top: 15px;
}

.full-width {
    width: 93%;
}

label {
    font-size: 19px;
}

.row label {
    margin-left: 15px;
}

.radio-group {
    @media screen and (min-width: $break-small) {
        display: inline-flex;
        flex-direction: row;
    }
    @media screen and (max-width: $break-small) {
        display: flex;
        flex-direction: column;
    }
}

.radio-button {
    margin-right: 15px;
    padding-left: 15px;
}

md-select {
    padding: 0 5px 0 5px;
}

md-card {
    margin: 30px 0 30px 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}

table {
    width: 100%;
}

th {
    height: 50px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: 400;
}

th,
td {
    font-weight: 300px;
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9e9e9;
}