$nav-height: 40px;
.spacer {
    flex: 1 1 auto;
}

.main {
    padding-top: $nav-height;
}

form {
    padding-left: 25px;
}

.row {
    padding-top: 15px;
}

label {
    font-size: 19px;
}

md-select {
    padding: 0 5px 0 5px;
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
}

table {
    width: 100%;
}

th {
    height: 50px;
    background-color: #2196F3;
    color: #ffffff;
    font-weight: 400;
}

th,
td {
    font-weight: 300px;
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9e9e9;
}