$padding: 20px;
.spacer {
    flex: 1 1 auto;
}

md-card-header {
    padding: 0;
}

.full-width {
    width: 93%;
    padding-left: $padding;
}

md-card-actions {
    padding-left: 15px;
    padding-right: 15px;
}