<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">When If?</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Account</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownConfig">
                <a [routerLink]="['/account']" class="dropdown-item disabled">My Account</a>
                <div class="dropdown-divider"></div>
                <a [routerLink]="['/login']" class="dropdown-item text-danger">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <h1>My Account</h1>
    <form>
        <div class="form-group">
            <label for="full-name">Full Name</label>
            <input type="text" class="form-control" id="full-name" [(ngModel)]="currentUser.username" disabled>
        </div>

        <div class="form-group">
            <label for="id-number">DePaul ID Number</label>
            <input type="number" class="form-control" id="id-number" [(ngModel)]="currentUser.depaulID" disabled>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="currentUser.email" disabled>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="currentUser.username" disabled>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="currentUser.password" disabled>
        </div>

    </form>
</div>
