<md-toolbar color="primary">
    <button md-button [routerLink]="['/']">When If?</button>

    <span class="spacer"></span>
    <!--<button md-button [routerLink]="['/account']" disabled>My Account</button>-->
    <button md-raised-button color="warn" (click)="click.onLogout()" [routerLink]="['/']">Logout</button>

</md-toolbar>

<div class="flexbox-parent">
    <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" style="min-height: 600px">
        <div class="col-8">
            <md-card class="flex-item">
                <md-card-header>
                    <h2>My Account</h2>
                </md-card-header>
                <md-card-content>
                    <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="full-name">Full Name</label>
                            <input type="text" class="form-control" id="full-name" value="{{currentUser.fullName}}">
                        </div>

                        <div class="form-group">
                            <label for="id-number">DePaul ID Number</label>
                            <input type="number" class="form-control" id="id-number" value="{{currentUser.depaulID}}">
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" value="{{currentUser.email}}">
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" value="{{currentUser.username}}">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" value="{{currentUser.password}}">
                        </div>
                    </form>
                </md-card-content>
                <md-card-actions>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button color="primary" md-raised-button [disabled]="loading" class="btn btn-primary" (click)="update(currentUser.id)">Update</button>
                            <button md-button [routerLink]="['/']" class="btn btn-link">Back</button>
                        </div>
                        <div>
                            <button color="warn" md-raised-button class="btn btn-danger" (click)="deleteUser(currentUser.id)"><span class="pull-right">Delete Myself</span></button>
                            <button color="warn" md-raised-button class="btn btn-danger" (click)="openDialog()"><span class="pull-right">Delete Myself</span></button>
                        </div>
                    </div>
                </md-card-actions>
                <md-card-footer>

                </md-card-footer>
            </md-card>
        </div>
    </div>
</div>
