<md-toolbar color="primary">
    <button md-button [routerLink]="['/']">When If?</button>

    <span class="spacer"></span>
    <!--<button md-button [routerLink]="['/account']" disabled>My Account</button>-->
    <button md-raised-button color="warn" [routerLink]="['/login']">Logout</button>

</md-toolbar>

<div class="body container">
    <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" style="min-height: 700px">
        <div class="col-md-8">
            <md-card class="flex-item">
                <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && update()" novalidate>
                    <md-card-header fxLayoutAlign.="center center">
                        <h2 class="header-name">My Account</h2>
                    </md-card-header>
                    <!-- User has child interfaces Faculty and Student, which each have different variables that are needed for each. An issue comes up that JavaScript cannot overload functions (see: https://stackoverflow.com/questions/13212625/typescript-function-overloading). Because of this, TypeScript has 'Unions' that can be used for similar functions (see: https://stackoverflow.com/questions/13212625/typescript-function-overloading).The issue is that I'm checking if the user is a student or an advisor using ngIf, but have no way to check in ngModel and value since the typescript does not continue. My (hopefully working) solution to this is to create a 'UserInfo' interface in account.component.ts which has all the options from both student and faculty. Since the TS can differentiate between the two when currentUser is called, the constructor sets whichever variables are needed to their respective one in the userInfo for use here. -->
                    <md-card-content>
                        <!--<div *ngIf="checkUser(currentUser) === 'student' || null">-->
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Full Name" value="{{currentUser.fullName}}" type="text" class="form-control" name="fullname" id="student-name" required #fullName />
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="DePaul ID Number" type="number" class="form-control" id="student-id" value="{{currentUser.depaulID}}" maxlength="7" required>
                        </md-input-container>
                        <!--<label class="selected-value">Current Student Status</label>
                        <md-select placeholder="Current Status" [(ngModel)]="userInfo.status">
                            <md-option *ngFor="let status of statuses" value="{{userInfo.status}}">
                                {{status}}
                            </md-option>
                        </md-select>-->
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Phone Number" type="tel" class="form-control" name="phone" id="phone" value="{{currentUser.phone}}" required #phone minlength="10" maxlength="11" />
                        </md-input-container>

                        <label>Home Address</label>
                        <md-input-container class="full-width">
                            <textarea mdInput placeholder="Address" value="{{currentUser.address}}"></textarea>
                        </md-input-container>
                        <md-input-container class="full-width">
                            <textarea mdInput placeholder="Address 2" value="{{currentUser.address2}}"></textarea>
                        </md-input-container>
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <md-input-container class="full-width">
                                        <input mdInput placeholder="City" value="{{currentUser.city}}">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="full-width">
                                        <input mdInput placeholder="State" value="{{currentUser.state}}">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="full-width">
                                        <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="{{currentUser.zip}}">
                                        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>
                        <!--</div>-->

                        <!--<div *ngIf="checkUser(currentUser) === 'advisor'">
                        </div>-->

                    </md-card-content>
                    <md-card-actions>
                        <div class="d-flex justify-content-between">
                            <div>
                                <button color="primary" md-raised-button class="btn btn-primary" (click)="update()">Update</button>
                                <button md-button [routerLink]="['/']" class="btn btn-link">Back</button>
                            </div>
                            <div>
                                <button color="warn" md-raised-button class="btn btn-danger" (click)="deleteUser(currentUser.id)"><span class="pull-right">Delete Myself</span></button>
                            </div>
                        </div>
                    </md-card-actions>
                </form>
            </md-card>
        </div>
    </div>
</div>