$break-small: 575px;

.spacer {
    flex: 1 1 auto;
}

.header-name {
    font-weight: 300;
}

label {
    font-size: 19px;
}

md-card-header {
    padding-top: 25px;
    padding-bottom: 50px;
}

md-select {
    padding: 15px;
}

.full-width {
  width: 100%;
}

.radio-group {
    @media screen and (min-width: $break-small) {
        display: inline-flex;
        flex-direction: row;
    }
    @media screen and (max-width: $break-small){
        display: flex;
        flex-direction: column;
    }
}

.radio-button {
    margin-right: 15px;
    padding-left: 15px;
}

.selected-value {
    padding-left: 15px;
    margin: 15px 0;
}

.button-align {
    margin-left: 15px;
}

md-card {
    padding-top: 15px;
    padding-bottom: 15px;
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
    // padding-left: 30px;
}
